* { box-sizing: border-box; }
canvas{
    /* Older versions of FF          */
    image-rendering: optimizeSpeed;
    /* FF 6.0+                       */
    image-rendering: -moz-crisp-edges;
    /* Safari                        */
    image-rendering: -webkit-optimize-contrast;
    /* OS X & Windows Opera (12.02+) */
    image-rendering: -o-crisp-edges;
    /* Awesome future-browsers       */
    image-rendering: pixelated;
    /* IE                            */
    -ms-interpolation-mode: nearest-neighbor;    
}
.canvasLayer{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    /* max-width: 100%; */
    max-height: 100%;
}

.displayNone{display: none !important;}
body{ 
    background-color:#181818 !important;
    padding:5px !important;
}
#wrapper{
    border:1px solid white;
    padding:5px;
    background-color:cornflowerblue;
    display: inline-block;
}
#game_uno{
    border:1px solid white;
    padding:5px;
    background-color:royalblue;
    display: inline-flex;
    justify-content: space-between;
    /* height: calc(100vh - 40px); */
}
#aux{
    min-width: 350px;
    width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}
#aux.wide{
    width: unset;
    max-width: unset;
}
#controls{
    border:1px solid white;
    padding:5px;
    background-color: rgb(113 143 233);
}
#output{
    position:relative;
    /* border:1px solid white; */
    padding:5px;
    min-width: 256px;
    width: 100%;
    /* max-height: 100%; */
    border: 2px solid white;
    margin-left: 2px;
}
#output:focus{
    border-color: white;
    border-style: dotted;
}

.controls_title{
    display:block;
    text-align:center;
    text-decoration:underline;
}
.controls_border{
    border: 1px solid black;
    padding:2px;
    margin-bottom: 2px;
}

/* NAVBAR1 */
#controls_navBarTabs1{
    border-bottom: 1px solid black;
    min-width: 335px;
    background-color: #00d4ff36;
}
.controls_navBarTabs{
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 2px;
    padding: 4px;
    width: 100px;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
}
.controls_navBarTabs.active{
    background-color: rgb(65 105 225);
    text-decoration:underline;
}
.controls_navBarTabs:hover{
    background-color: rgb(255 255 255 / 50%);
}
.controls_navBarViews{
    display:none;
}
.controls_navBarViews.active{ 
    display: block;
}